.container{
    max-width: 900px;
    margin: 0 ;
}
.main-registration{
    text-align: center;
    margin: 100px 200px;
    flex-wrap: wrap;
    background-color: #ecebeb;
}
h3{
    text-transform: uppercase;
}
.pop-card{
    padding: 40px;  
    
}
.inpu_1{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;   
}
.inpu_2{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    
}
.inpu_3{

    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.inpu_4{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.pop-checkbox{

    cursor: pointer;
    height: 16px;
    width: 16px;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ccc;
    transition: .2s ease-in-out black ;

}

.pop-button{
    cursor: pointer;
    background-color: #4cb6ab;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}
.pop-button:hover{
    background-color: #13dba9;
}
a{
    cursor: pointer;
    text-decoration: none;
}
p{
    color: #999999;
    font-weight: bold;
}
.link-registration{
    color: #4cb6aa;
    font-weight: bold;
}
.link-registration:hover{
    color: #2cb6aa
}