.header{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.container{
  max-width: 900px;
  margin: 0 auto;
}
.nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  margin-top: 5px;
  display: inline-block;
  background:no-repeat url('./logo.svg');
  height: 28px;
  width: 224px;
}
.nav-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 138px;
  height: 80px;
}
.content-add-bg{
  width: 17px;
  height: 17px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 50%;
  transition: .1s;
  background: linear-gradient(135deg, #02e577 0%,#4db6ac 100%);
}
.content-add-bg:hover{
  background: linear-gradient(45deg, #02e577 0%,#4db6ac 100%);
}
.content-add{
  display: inline-block;
  background: no-repeat url('./plus.svg');
  height: 17px;
  width: 17px;
}
.content-search{
  display: inline-block;
  background: no-repeat url('./search-svg.svg');
  width: 20px;
  height: 24px;
}
.content-menu{
  display: inline-block;
  background: no-repeat url('./burger.svg');
  width: 20px;
  height: 20px;
}
