.main-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-top: 1px solid #cccccc;
  padding: 70px 0;
}
.container{
  min-width: 900px;
  height: 100%;
}
.footer-logo{
  display: inline-block;
  background: no-repeat url(./logo.svg);
  height: 28px;
  width: 224px;
  margin-bottom: 15px;
}
.footer-nav{
  display: flex;
  justify-content: space-between;
  width: 310px;
}
.footer-link{
  color: #666666;
  transition: .1s
}
.footer-link:hover{
  color: #333333
}
.instagram-block{
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background: linear-gradient(135deg, #02e577 0%,#4db6ac 100%)
}
.instagram-block:hover{
  background: linear-gradient(35deg, #02e577 0%,#4db6ac 100%)
}